@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Montserrat', serif;
    font-size: 20px;
    color: #f803fc;
}

body {
    margin: 0%;
    padding: 0px;
    background-color: #04013b;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #844b85;
    border-radius: 5px;
}

/* entête de page */

.top-page {
    padding: 3px;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-style: bold;
    padding-left: 25px;
    padding: 20px;
}

header img {
    width: 45px;
}

/* menu de navigation */

.menu-principal {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 400px;
}

.menu-principal li:hover a{
    color: #f803fc;
    font-size: 16px;
}

.button {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: white;
}

/* contenu dela page */

.mid-page {
    padding: 15px;
}

div {
    padding: 20px 40px;
    border-radius: 20px;
    height: min-content;
    background-color: transparent ;
}

div:hover {
    background-color: #2f0353;
    transition: 0.5s;
}

.link {
    display: block;
    justify-content: center;
}

.link li {
    padding: 10px;
    list-style: none;
}

.link li a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.link li a:hover {
    border-color: black;
    border-width: 2px;
    background-color: #f803fc;
    text-decoration: underline;
    transition: 0.5s;
}

.resources {
    font-family: 'Merriweather';
    font-size: 20px;
    text-align: left;
    text-decoration: none;
}

/* pied de page */

.end-page {
    background-color: black;
    border-top: solid;
    border-width: 2px;
    border-color: white;
    text-align: center;
    padding-bottom: 30px;
}

.endtitle {
    font-size: 15px;
}

.end-mail{
    font-family: 'Montserrat';
    font-size: 10px;
}